<template id="tpl-step">
  <div data-controller="step-definition"
       class="step-definition"
       draggable="true"
       data-action="dragstart->step-definition#dragstart
                    dragend->step-definition#dragend">
    <input type="text"
           data-pipeline-definition-target="stepName"
           data-action="change->pipeline-definition#regenerate">
    <input type="text"
           data-pipeline-definition-target="stepCommand"
           data-action="change->pipeline-definition#regenerate">
  </div>
</template>

<template id="tpl-add-or-drop-step">
  <div class="step-drop-target
              border
              invisible"
       data-controller="step-drop-target"
       data-step-drop-target-target="dropzone"
       data-action="dragenter->step-drop-target#dragenter
                    dragover->step-drop-target#dragover
                    dragleave->step-drop-target#dragleave
                    drop->step-drop-target#drop">
    droppy here
  </div>

  <button class="border"
          data-controller="add-step"
          data-action="add-step#act">
    Add Step here
  </button>
</template>
